go 1.24.2

use (
	./services/auth
	./services/bff
	./services/episode
	./services/media
	./services/movie
	./services/season
	./services/series
	./services/setting
	./services/tmdb
	./services/user
	./shared
)
